<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FANController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FANController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FANController.Properties.Settings>
            <setting name="硬件通讯端口" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="使用默认通讯频率" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="硬件通讯频率" serializeAs="String">
                <value>9600</value>
            </setting>
        </FANController.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FANController.Properties.Settings>
            <setting name="默认硬件通讯频率" serializeAs="String">
                <value>9600</value>
            </setting>
        </FANController.Properties.Settings>
    </applicationSettings>
</configuration>